/* desktop small */
@include xlarge-screen {
}
/* laptop */
@include large-screen {
}

/* tablet */
@include medium-screen {
}
/* mobile */
@include small-screen {
  .onlyDesktop {
    display: none;
  }
  .onlyMobile {
    display: block;
  }
  body {
    padding: 16px 0;
  }
  .cardsblock__items {
    flex-wrap: wrap;
  
  }
  .cardsblock__item {
    flex: unset;
  }
  .offer_bar__wrapper {
    padding: 16px 12px;
    flex-wrap: wrap;
  }
  .offer_bar__text {
    width: 100%;
    text-align: right;
    margin-bottom: 32px;

    span {
      display: inline;
      font-weight: 400;
      font-size: 12px;
      line-height: 133%;
      letter-spacing: -0.03em;
      text-align: center;
      color: #445371;
    }
  }
  .offer_bar__button .btn_main {
    padding: 16px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
  }
  .offer_bar__icon {
    display: none;
  }
  .offer_bar__button {
    width: 100%;
    .btn_main {
      width: 100%;
    }
  }
  .heroblock .blockwrapper {
    padding: 0 12px;
  }
  .header__topline {
    margin: 0;
  }
  a.btn_main,
  button.btn_main {
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: #fff;
    padding: 8px 16px;
  }
  .heroblock__wrapper {
    flex-wrap: wrap;
  }
  .heroblock__image img {
    max-width: 100%;
  }
  .heroblock__image {
    order: -1;
    transform: none;
    margin-bottom: 32px;
  }
  .heroblock__title {
    br {
      display: none;
    }
    span:not(.underline) {
      display: inline-block;
    }
  }
  .heroblock__title h1 {
    font-size: 26px;
    line-height: 120%;
    text-align: center;
  }
  .heroblock__content {
    max-width: 100%;
    min-width: 100%;
  }
  .heroblock__title {
    max-width: 327px;
    margin-left: auto;
    margin-right: auto;
  }
  .heroblock__title h1:before {
    display: none;
  }
  .heroblock__title h1:after {
    display: none;
  }
  .heroblock__title h1 span:first-child:before {
    content: url(../img/Object2_0_m.svg);
    position: absolute;
    left: 30px;
    top: -8px;
  }
  .heroblock__title h1 span:first-child:after {
    content: url(../img/Object2_1_m.svg);
    position: absolute;
    right: 32px;
    top: 5px;
  }
  .underline:after {
    content: url(../img/Line3.svg);
    position: absolute;
    bottom: -8px;
    left: -16px;
    right: unset;
  }
  .blockwrapper {
    border-radius: 24px;
  }
  .heroblock__mainconten {
    margin-bottom: 32px;
  }
  .heroblock__text {
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.03em;
    text-align: center;
    color: #445371;
  }
  .heroblock .blockwrapper {
    overflow: visible;
  }
  #object_1 {
    bottom: -50px;
    left: unset;
    right: 0;
  }
  .heroblock__footercontent .btn_main {
    display: block;
  }
  #promoblock_5 {
    z-index: 5;
    width: 115px;
    right: 0;
    bottom: 42px;
  }
  #promoblock_1 {
    display: none;
  }
  #promoblock_2 {
    display: none;
  }
  #promoblock_3 {
    display: none;
  }
  #promoblock_4 {
    top: 88px;
    width: 100px;
    right: unset;
    left: -44px;
  }
  .promoblock__wrapper {
    padding: 24px 12px;
  }
  .promoblock__contetn {
    max-width: 327px;
    /*  margin: auto; */
  }
  .promoblock__text {
    font-size: 22px;
    line-height: 130%;
    letter-spacing: -0.03em;
  }
  .promoblock__code {
    font-size: 26px;
    line-height: 130%;
  }
  .promoblock__code::before {
    content: url(../img/Group61245916_m.svg);
    transform: translateY(4px);
  }
  .promoblock__code::after {
    content: url(../img/Group61245917_m.svg);
    transform: translateY(4px);
  }
  .promoblock .blockwrapper {
    border-width: 3px;
  }
  .promoblock .promoblock__button .btn_main {
    font-weight: 500;
    font-size: 18px;
    padding: 11px 14px;
  }
  .promoblock__code {
    gap: 0;
  }
  h2 {
    font-size: 22px;
line-height: 130%;
margin-bottom: 16px;
text-align: left;
  }
  .heroblock {
    margin-bottom: 32px;
  }
  .promoblock {
    margin-bottom: 32px;
  }
  .cards {
    padding: 24px 12px;
  }
  .cards__icon {
    margin-bottom: 24px;
  }
  .cards__icon_sm img {
    width: 40px;
    height: 40px;
  }
  .cards__title {
    font-size: 20px;
    margin-bottom: 16px;
  }
  .cards__content {
    padding: 0;
  }
  .cardsblock__items_auto {
    gap: 16px;
    flex-wrap: nowrap;
    width: 100%;
    overflow: auto;
  }
  .cardsblock__item {
    min-width: 327px;
    max-width: 327px;
  }
  .cardswrapper__wrapper {
    padding: 24px 12px;
  }
  .offerblock__title {
    font-size: 26px;
line-height: 130%;
margin-bottom: 16px;
  }
  .offerblock__text {
    margin-bottom: 16px;
    font-size: 16px;
line-height: 150%;
letter-spacing: -0.03em;
  }
  a.btn_light {
    color: #0048d9;
    display: block;
    padding: 12px;
    font-size: 16px;
line-height: 150%;
  }
  .offerblock__img {
    margin-bottom: 16px;
  }
  .cardswrapper {
    margin-bottom: 32px;
  }
  .infotext {
    margin-bottom: 32px;
  }
  .infotext p {
    font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: -0.03em;
  }
  #object_3 {
    display: none;
  }
  body {
    padding-bottom: 200px;
  }
  #footer {
    .container {
      padding: 0;
    }
  }
  .footer__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer .blockwrapper {
    padding: 32px 20px;
  }
  .footer__logo {
    margin-bottom: 42px;
  }
  .footer__socials {
    margin-bottom: 40px;
  }
  .footer_totop  {
    text-align: center;
    margin: auto;
  }
  .buttonTop {
    margin: auto;
  }
  .footer__copy {
    width: 100%;
    text-align: center;
    font-weight: 400;
font-size: 16px;
color: #000;
margin: 24px 0 24px  0;
  }
  .socials__item {
     a svg {
      width: 49px;
      height: 49px;
      display: block;
     }
  }
  #object_4 {
    width: 120px;
    left: -64px;
bottom: 38px;
right: unset;
  }
  body {
    background-image: url(../img/bg_mb.svg);
    background-position: top -15px center;
  }
}
